.suggestionCard {
    height: fit-content;
    max-width: 327px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 24px;

    &_bodyText {
        color: #647196;
        margin-bottom: 8px;
    }

    &_title {
        margin-bottom: 8px;
    }

    &__clickable {
        cursor: pointer;
    }

    &__clickable:hover {
        h4 {
            color: #4661E6;
        }
    }

    &_commentsUpvotes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
    }
}