$backgroundColors: (
    "alpha" #AD1FEA #C75AF6,
    "bravo" #4661E6 #7C91F9,
    "charlie" #3A4374 #656EA3,
    "delta" #D73737 #E98888,
    "epsilon" #373F68 #373F68,
    "foxtrot" rgba(255,255,255,0) rgba(255,255,255,0)
);

$sizes: (
    "small" 20px 56px,
    "regular" 44px 158px,
    "large" 53px 158px
);

$textColors: (
    "white": #FFFFFF,
    "neutral": #F2F4FE,
    "dark": #647196
);

$radius: (
    "curved": 10px,
    "straight": 0px
);

.button {
    &_text {
        text-align: center;
    }


    @each $size, $height, $width in $sizes {
        &__#{$size} {
            height: $height;
            width: $width;
        }
    }

    @each $type, $color, $hoverColor in $backgroundColors {
        &__#{$type} {
            background-color: $color;
        }
        
        &__#{$type}:hover {
            background-color: $hoverColor;
        }
    }

    @each $type, $color in $textColors {
        &__#{$type} {
            color: $color;
        }
    }

    @each $type, $value in $radius {
        &__#{$type} {
            border-radius: $value;
        }
    }
}
