.emptyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 327px;
    background-color: #FFFFFF;
    padding: 76px 24px;
    border-radius: 10px;
    &_heading {
        color: #3A4374;
        margin-top: 40px;
    }

    &_body {
        margin-top: 16px;
        margin-bottom: 24px;
        text-align: center;
        color: #647196;
    }

    &_button {
        cursor: pointer;
        height: 40px;
        width: 134px;
        background-color: #AD1FEA;
        color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        h4 {
            font-size: 13px;
        }
    }
}